

@media (min-width: 600px) {
    .ItemList--list li {
        padding: 2rem;
        margin: 2rem;
        font-size: 150%;
    }

    .deleteIcon {
        font-size: 150%;
    }

}

.ItemList {

  }

.ItemList--list {
  list-style: none;
  border-radius: 10px;
  border-style: groove;
  background: green;

}

.ItemList--list__components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin:0.5rem;

}

.itemList__detail {
    background: lightgreen;
    display: flex;
}

.tools {
    padding-top: 1rem;
    font-size: 150%;
    width: 0;
    margin: auto;
}