.sel-icon {
    margin: 10px 0px;
    width: 15%;
    filter: invert(80%) sepia(28%) saturate(649%) hue-rotate(178deg) brightness(103%) contrast(102%);
}

.fridge-icon {
    width: 14%;
}

.add p {
    margin: 3vh 0vh 0vh;
}

.input {
    width: 25vh;
}

input[type="radio"]
{
    opacity: 0;
}

input[type=radio]:checked + label>img{
    filter: invert(99%) sepia(71%) saturate(1159%) hue-rotate(303deg) brightness(102%) contrast(100%);
}


@media (min-width: 600px) {
    .add {
        display: flex;
        flex-direction: column;
    }
    
    .sel-icon {
        margin: 10px 0px;
        width: 15vh;
    }

    .fridge-icon {
        width: 13.7%;
    }
}
