.logo-img {
  margin-top: 2vh;
  border-radius: 0px;
  width: 15vh;
}

.home h5 {
  background-color: white;
  border-radius: 50px;
}

.home h3 {
  background-color: white;
  border-radius: 50px;

}


@media (min-width: 600px) {
  .home {
    height: 75vh;
  }
}
