.item-list {
    border-style: solid;
}

.add-icon-padding {
    padding-top: 15px;
    width: 365px;
}

.add-icon {
    width: 10%;
}

.item-ul {
    list-style-type: none;
    padding-left: 0;
}

.item-li {
    display: flex;
    justify-content: space-around;
    margin: 3px;
    margin: 0px 20px;
    align-items: center;
}

.green-color {
    background-color: #a5ffc4;
}

.yellow-color {
    background-color: #feffb1;
}

.orange-color {
    background-color: #ffdeb5;
}

.red-color {
    background-color: #ffafb9;
}

.black-color {
    background-color: #453851;
    color: white;
}

.deleteIcon {
    width: 10%;
}


@media (min-width: 600px) {
    .add-icon-padding {
        width: 100%
    }

}


