

@media (min-width: 600px) {
    .ItemList--list li {
        padding: 2rem;
        margin: 2rem;
        font-size: 150%;
    }

    .deleteIcon {
        font-size: 150%;
    }

}

.ItemList--list {
  list-style: none;
  border-radius: 10px;
  border-style: groove;
  background: green;

}

.ItemList--list--loading {
    list-style: none;
    height: 3rem;
    border-radius: 10px;
    border-style: groove;
    background: linear-gradient(100deg, #c1c1c1 30%, #cfd2d4 50%, #bebfc0 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.ItemList--list__components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin:0.5rem;

}

.itemList__detail {
    background: lightgreen;
    display: flex;
}

.tools {
    padding-top: 1rem;
    font-size: 150%;
    width: 0;
    margin: auto;
}
