.item-li input {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.add-icon {
    margin-top: 15px;
    margin-bottom: 0px;
    width: 10%;
    filter: invert(80%) sepia(8%) saturate(1725%) hue-rotate(177deg) brightness(105%) contrast(102%);
}

.item-ul {
    list-style-type: none;
    padding-left: 0;
}

.item-li {
    display: flex;
    justify-content: space-around;
    margin: 3px;
    margin: 0px 20px;
    align-items: center;
}

.item-ul li{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 5%;

}

.green-color {
    background-color: #a5ffc4;
}

.yellow-color {
    background-color: #feffb1;
}

.orange-color {
    background-color: #ffdeb5;
}

.red-color {
    background-color: #ffafb9;
}

.black-color {
    background-color: #453851;
    color: white;
}


.deleteIcon {
    width: 6%;
}

.black-color .deleteIcon {
    filter: invert(100%);
}


@media (min-width: 600px) {
    .add-icon-padding {
        width: 100%
    }

}


