.NavBar--list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #b1e2ff;
    padding: 2%;
    margin-left: -30px;
    margin-right: -30px;
}

.NavBar--list div {
    color: #a5ffc4;
}

img {
    width: 40%;
}
