
.NavBar--list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background: #b1e2ff;
    padding-top: 10px;
}

.NavBar--list img {
    filter: invert(100%);
    width: 40%;
    
}

.profile {
    width: 35%;
}

@media (min-width: 600px)
{
    .NavBar--list {
        width: 100vh;
    }

    .NavBar--list img {
        width: 100px;
    }

    .profile {
        width: 90px;
    }
}
