.Recipe-Image{
  width:35vh;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  height: 13rem;
}

.hide-button {
  display: none;
}

 

@media (min-width: 600px) {
  .Recipe-Image {
    width: 50%;
  }
  .next-recipe-btn {
    margin-top: 3vh;
   }

}
