.Recipe-Image{
  width:35vh;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
}

.hide-button {
  display: none;
}
.recipes{
  display:flex;
}
.Recipe :nth-of-type(1){
 flex:2;
}
.Recipe :nth-of-type(2){
  flex:1;
 }

 .next-recipe-btn {
  margin-top: 3vh;
 }

@media (min-width: 600px) {
  .Recipe-Image {
    width: 100%;
  }
}
