* {
  box-sizing: border-box;
  font-family: 'Eczar', sans-serif;
  text-align: center;
}

.logo-img {
  width: 15%;
}

.topper {
  height: 16vh;
}

@media (min-width: 600px) {
  .logo-img {
    width: 10%;
  }
}